<ul id="{{ keyboard }}" class="keyboard">
  <li class="delete nodisplay"><img src="{{ 'Undo.png' | asset_url }}"></li>
  <li class="symbol" data-width="31"><img src="{{ 'Symbol-_.png' | asset_url }}"></li>
  <li class="symbol" data-width="55"><img src="{{ 'Symbol--0.png' | asset_url }}"></li>
  <li class="symbol" data-width="30"><img src="{{ 'Symbol--1.png' | asset_url }}"/></li>
  <li class="symbol" data-width="52"><img src="{{ 'Symbol--2.png' | asset_url }}"/></li>
  <li class="symbol" data-width="51"><img src="{{ 'Symbol--3.png' | asset_url }}"></li>
  <li class="symbol" data-width="59"><img src="{{ 'Symbol--4.png' | asset_url }}"></li>
  <li class="symbol" data-width="52"><img src="{{ 'Symbol--5.png' | asset_url }}"></li>
  <li class="symbol" data-width="56"><img src="{{ 'Symbol--6.png' | asset_url }}"></li>
  <li class="symbol" data-width="50"><img src="{{ 'Symbol--7.png' | asset_url }}"></li>
  <li class="symbol" data-width="53"><img src="{{ 'Symbol--8.png' | asset_url }}"></li>
  <li class="symbol" data-width="56"><img src="{{ 'Symbol--9.png' | asset_url }}"></li>
  <li class="symbol" data-width="64"><img src="{{ 'Symbol--A.png' | asset_url }}"></li>
  <li class="symbol" data-width="57"><img src="{{ 'Symbol--B.png' | asset_url }}"></li>
  <li class="symbol" data-width="56"><img src="{{ 'Symbol--C.png' | asset_url }}"></li>
  <li class="symbol" data-width="60"><img src="{{ 'Symbol--D.png' | asset_url }}"></li>
  <li class="symbol" data-width="51"><img src="{{ 'Symbol--E.png' | asset_url }}"></li>
  <li class="symbol" data-width="50"><img src="{{ 'Symbol--F.png' | asset_url }}"></li>
  <li class="symbol" data-width="60"><img src="{{ 'Symbol--G.png' | asset_url }}"></li>
  <li class="symbol" data-width="58"><img src="{{ 'Symbol--H.png' | asset_url }}"></li>
  <li class="symbol" data-width="16"><img src="{{ 'Symbol--I.png' | asset_url }}"></li>
  <li class="symbol" data-width="33"><img src="{{ 'Symbol--J.png' | asset_url }}"></li>
  <li class="symbol" data-width="56"><img src="{{ 'Symbol--K.png' | asset_url }}"></li>
  <li class="symbol" data-width="49"><img src="{{ 'Symbol--L.png' | asset_url }}"></li>
  <li class="symbol" data-width="69"><img src="{{ 'Symbol--M.png' | asset_url }}"></li>
  <li class="symbol" data-width="59"><img src="{{ 'Symbol--N.png' | asset_url }}"></li>
  <li class="symbol" data-width="63"><img src="{{ 'Symbol--O.png' | asset_url }}"></li>
  <li class="symbol" data-width="56"><img src="{{ 'Symbol--P.png' | asset_url }}"></li>
  <li class="symbol" data-width="73"><img src="{{ 'Symbol--Q.png' | asset_url }}"></li>
  <li class="symbol" data-width="58"><img src="{{ 'Symbol--R.png' | asset_url }}"></li>
  <li class="symbol" data-width="56"><img src="{{ 'Symbol--S.png' | asset_url }}"></li>
  <li class="symbol" data-width="56"><img src="{{ 'Symbol--T.png' | asset_url }}"></li>
  <li class="symbol" data-width="60"><img src="{{ 'Symbol--U.png' | asset_url }}"></li>
  <li class="symbol" data-width="63"><img src="{{ 'Symbol--V.png' | asset_url }}"></li>
  <li class="symbol" data-width="83"><img src="{{ 'Symbol--W.png' | asset_url }}"></li>
  <li class="symbol" data-width="62"><img src="{{ 'Symbol--X.png' | asset_url }}"></li>
  <li class="symbol" data-width="66"><img src="{{ 'Symbol--Y.png' | asset_url }}"></li>
  <li class="symbol" data-width="60"><img src="{{ 'Symbol--Z.png' | asset_url }}"></li>
  <li class="symbol" data-width="92"><img src="{{ 'Symbol--AE.png' | asset_url }}"></li>
  <li class="symbol" data-width="63"><img src="{{ 'Symbol--OE.png' | asset_url }}"></li>
  <li class="symbol" data-width="64"><img src="{{ 'Symbol--AA.png' | asset_url }}"></li>
   <li class="symbol" data-width="64"><img src="{{ 'Symbol--Accent-A.png' | asset_url }}"></li>
  <li class="symbol" data-width="64"><img src="{{ 'Symbol--Accent-AA.png' | asset_url }}"></li>
  <li class="symbol" data-width="64"><img src="{{ 'Symbol--Umlaut-A.png' | asset_url }}"></li>
   <li class="symbol" data-width="51"><img src="{{ 'Symbol--Accent-EE.png' | asset_url }}"></li>
  <li class="symbol" data-width="51"><img src="{{ 'Symbol--Accent-E.png' | asset_url }}"></li>
    <li class="symbol" data-width="63"><img src="{{ 'Symbol--Accent-O.png' | asset_url }}"></li>
  <li class="symbol" data-width="63"><img src="{{ 'Symbol--Accent-OO.png' | asset_url }}"></li>
  <li class="symbol" data-width="63"><img src="{{ 'Symbol--Umlaut-O.png' | asset_url }}"></li>
    <li class="symbol" data-width="60"><img src="{{ 'Symbol--Umlaut-U.png' | asset_url }}"></li>
  <li class="symbol" data-width="18"><img src="{{ 'Symbol--Punktum.png' | asset_url }}"></li> 
  <li class="symbol" data-width="13"><img src="{{ 'Symbol--Komma.png' | asset_url }}"></li>
  <li class="symbol" data-width="18"><img src="{{ 'Symbol--Accent.png' | asset_url }}"></li>
  <li class="symbol" data-width="28"><img src="{{ 'Symbol--Double-Accent.png' | asset_url }}"></li>
  <li class="symbol" data-width="18"><img src="{{ 'Symbol--Kolon.png' | asset_url }}"></li>
  <li class="symbol" data-width="34"><img src="{{ 'Symbol--Bindestreg.png' | asset_url }}"></li>
  <li class="symbol" data-width="49"><img src="{{ 'Symbol--Plus.png' | asset_url }}"></li>
  <li class="symbol" data-width="38"><img src="{{ 'Symbol--Slash.png' | asset_url }}"></li>
  <li class="symbol" data-width="78"><img src="{{ 'Symbol--Procent.png' | asset_url }}"></li>
  <li class="symbol" data-width="49"><img src="{{ 'Symbol--Lighedstegn.png' | asset_url }}"></li>
  <li class="symbol" data-width="48"><img src="{{ 'Symbol--Sporgsmalstegn.png' | asset_url }}"></li>
  <li class="symbol" data-width="18"><img src="{{ 'Symbol--Udrabstegn.png' | asset_url }}"></li> 
  <li class="symbol" data-width="25"><img src="{{ 'Symbol--Parentes-Venstre.png' | asset_url }}"></li>
  <li class="symbol" data-width="25"><img src="{{ 'Symbol--Parentes-Hojre.png' | asset_url }}"></li>
  <li class="symbol" data-width="30"><img src="{{ 'Symbol--Upper-Circle2.png' | asset_url }}"></li>
  <li class="symbol" data-width="66"><img src="{{ 'Symbol--Ampersand.png' | asset_url }}"></li>
  <li class="symbol" data-width="47"><img src="{{ 'Symbol--Dollar.png' | asset_url }}"></li>
  <li class="symbol" data-width="58"><img src="{{ 'Symbol--Hashtag.png' | asset_url }}"></li>
  <li class="symbol" data-width="79"><img src="{{ 'Symbol--At.png' | asset_url }}"></li>
  <li class="symbol" data-width="43"><img src="{{ 'Symbol--Paragraf.png' | asset_url }}"></li>
  <li class="symbol" data-width="86"><img src="{{ 'Symbol--Hjerte.png' | asset_url }}"></li> 
  <li class="symbol" data-width="110"><img src="{{ 'Symbol--Hjerter.png' | asset_url }}"></li> 
  <li class="symbol" data-width="38"><img src="{{ 'Symbol--Taendstikmand.png' | asset_url }}"></li>
  <li class="symbol" data-width="40"><img src="{{ 'Symbol--Taendstikdame.png' | asset_url }}"></li> 
  <li class="symbol" data-width="33"><img src="{{ 'Symbol--Taendstikdreng.png' | asset_url }}"></li>
  <li class="symbol" data-width="46"><img src="{{ 'Symbol--Taendstikpige.png' | asset_url }}"></li>
  <li class="symbol" data-width="60"><img src="{{ 'Symbol--Taendstikbaby.png' | asset_url }}"></li>
  <li class="symbol" data-width="93"><img src="{{ 'Symbol--Evighedstegn.png' | asset_url }}"></li>
  <li class="symbol" data-width="81"><img src="{{ 'Symbol--Stjerne.png' | asset_url }}"></li> 
  <li class="symbol" data-width="97"><img src="{{ 'Symbol--Diamant.png' | asset_url }}"></li>
  <li class="symbol" data-width="75"><img src="{{ 'Symbol--Firklover.png' | asset_url }}"></li>
  <li class="symbol" data-width="99"><img src="{{ 'Symbol--Studenterhue.png' | asset_url }}"></li>
  <li class="symbol" data-width="84"><img src="{{ 'Symbol--Hund.png' | asset_url }}"></li>
  <li class="symbol" data-width="93"><img src="{{ 'Symbol--Kat.png' | asset_url }}"></li> 
  <li class="symbol" data-width="102"><img src="{{ 'Symbol--Gris.png' | asset_url }}"></li> 
  <li class="symbol" data-width="57"><img src="{{ 'Symbol--Hest.png' | asset_url }}"></li> 
  <li class="symbol" data-width="94"><img src="{{ 'Symbol--Ko.png' | asset_url }}"></li> 
  <li class="symbol" data-width="86"><img src="{{ 'Symbol--Pote.png' | asset_url }}"></li>  
  <li class="symbol" data-width="105"><img src="{{ 'Symbol--Krone.png' | asset_url }}"></li>
  <li class="symbol" data-width="75"><img src="{{ 'Symbol--Anker.png' | asset_url }}"></li> 
  <li class="symbol" data-width="89"><img src="{{ 'Symbol--Cupcake.png' | asset_url }}"></li>
  <li class="symbol" data-width="102"><img src="{{ 'Symbol--Brev.png' | asset_url }}"></li>
  <li class="symbol" data-width="90"><img src="{{ 'Symbol--Hus.png' | asset_url }}"></li>
  <li class="symbol" data-width="117"><img src="{{ 'Symbol--Nogle.png' | asset_url }}"></li>
  <li class="symbol" data-width="67"><img src="{{ 'Symbol--Telefon.png' | asset_url }}"></li>
  <li class="symbol" data-width="97"><img src="{{ 'Symbol--Kamera.png' | asset_url }}"></li>
  <li class="symbol" data-width="115"><img src="{{ 'Symbol--Cykel.png' | asset_url }}"></li>
  <li class="symbol" data-width="82"><img src="{{ 'Symbol--Skateboard.png' | asset_url }}"></li>
  <li class="symbol" data-width="125"><img src="{{ 'Symbol--Motorcykel.png' | asset_url }}"></li> 
  <li class="symbol" data-width="110"><img src="{{ 'Symbol--Bil.png' | asset_url }}"></li>
  <li class="symbol" data-width="112"><img src="{{ 'Symbol--Lastbil.png' | asset_url }}"></li>
  <li class="symbol" data-width="95"><img src="{{ 'Symbol--Traktor.png' | asset_url }}"></li>
  <li class="symbol" data-width="88"><img src="{{ 'Symbol--Rumraket.png' | asset_url }}"></li> 
  <li class="symbol" data-width="92"><img src="{{ 'Symbol--skib.png' | asset_url }}"></li> 
  <li class="symbol" data-width="95"><img src="{{ 'Symbol--Tog.png' | asset_url }}"></li>
  <li class="symbol" data-width="116"><img src="{{ 'Symbol--Campingvogn.png' | asset_url }}"></li> 
  <li class="symbol" data-width="118"><img src="{{ 'Symbol--Autocamper.png' | asset_url }}"></li>
  <li class="symbol" data-width="117"><img src="{{ 'Symbol--Helikopeter.png' | asset_url }}"></li>
  <li class="symbol" data-width="81"><img src="{{ 'Symbol--Fly.png' | asset_url }}"></li>
  <li class="symbol" data-width="126"><img src="{{ 'Symbol--Jeep.png' | asset_url }}"></li> 
  <li class="symbol" data-width="82"><img src="{{ 'Symbol--Barnevogn.png' | asset_url }}"></li>
  <li class="symbol" data-width="105"><img src="{{ 'Symbol--Plaeneklipper.png' | asset_url }}"></li>
  <li class="symbol" data-width="67"><img src="{{ 'Symbol--Grill.png' | asset_url }}"></li>
  <li class="symbol" data-width="70"><img src="{{ 'Symbol--Lovtrae.png' | asset_url }}"></li>
  <li class="symbol" data-width="63"><img src="{{ 'Symbol--Grantrae.png' | asset_url }}"></li>
  <li class="symbol" data-width="83"><img src="{{ 'Symbol--Blomst.png' | asset_url }}"></li>  
  <li class="symbol" data-width="82"><img src="{{ 'Symbol--Pindsvin.png' | asset_url }}"></li>
  <li class="symbol" data-width="96"><img src="{{ 'Symbol--Sommerfugl.png' | asset_url }}"></li>
  <li class="symbol" data-width="83"><img src="{{ 'Symbol--Hestesko.png' | asset_url }}"></li>
  <li class="symbol" data-width="115"><img src="{{ 'Symbol--Fisk_1.png' | asset_url }}"></li>
  <li class="symbol" data-width="88"><img src="{{ 'Symbol--Stetoskop.png' | asset_url }}"></li>
  <li class="symbol" data-width="64"><img src="{{ 'Symbol--Saks.png' | asset_url }}"></li>
  <li class="symbol" data-width="89"><img src="{{ 'Symbol--Mureske.png' | asset_url }}"></li>
  <li class="symbol" data-width="88"><img src="{{ 'Symbol--Hammer.png' | asset_url }}"></li> 
  <li class="symbol" data-width="101"><img src="{{ 'Symbol-Sloejfe.png' | asset_url }}"></li> 
  <li class="symbol" data-width="95"><img src="{{ 'Symbol--Guitar.png' | asset_url }}"></li>
  <li class="symbol" data-width="76"><img src="{{ 'Symbol--Node.png' | asset_url }}"></li>
  <li class="symbol" data-width="70"><img src="{{ 'Symbol--Tromme.png' | asset_url }}"></li>
  <li class="symbol" data-width="80"><img src="{{ 'Symbol--Fodbold.png' | asset_url }}"></li>
  <li class="symbol" data-width="115"><img src="{{ 'Symbol--Handvaegt.png' | asset_url }}"></li>
  <li class="symbol" data-width="87"><img src="{{ 'Symbol--Fjerbold.png' | asset_url }}"></li>
  <li class="symbol" data-width="76"><img src="{{ 'Symbol--Bue.png' | asset_url }}"></li>
  <li class="symbol" data-width="115"><img src="{{ 'Symbol--Pistol.png' | asset_url }}"></li>
  <li class="symbol" data-width="91"><img src="{{ 'Symbol--Dodningehoved.png' | asset_url }}"></li>
  <li class="symbol" data-width="72"><img src="{{ 'Symbol--Engel.png' | asset_url }}"></li>
  <li class="symbol" data-width="61"><img src="{{ 'Symbol--Kors.png' | asset_url }}"></li>
  <li class="symbol" data-width="107"><img src="{{ 'Symbol--Flag.png' | asset_url }}"></li>
  <li class="symbol" data-width="59"><img src="{{ 'Symbol--Kvindetegn.png' | asset_url }}"></li>
  <li class="symbol" data-width="77"><img src="{{ 'Symbol--Mandetegn.png' | asset_url }}"></li>
  <li class="symbol" data-width="79"><img src="{{ 'Symbol--Smiley.png' | asset_url }}"></li>
  <li class="symbol" data-width="80"><img src="{{ 'Symbol--Stenbuk.png' | asset_url }}"></li>
  <li class="symbol" data-width="78"><img src="{{ 'Symbol--Vandmand.png' | asset_url }}"></li>
  <li class="symbol" data-width="60"><img src="{{ 'Symbol--Stjernetegn-Fisk.png' | asset_url }}"></li> 
  <li class="symbol" data-width="82"><img src="{{ 'Symbol--Vaedder.png' | asset_url }}"></li>
  <li class="symbol" data-width="73"><img src="{{ 'Symbol--Tyr.png' | asset_url }}"></li> 
  <li class="symbol" data-width="74"><img src="{{ 'Symbol--Tvilling.png' | asset_url }}"></li>
  <li class="symbol" data-width="80"><img src="{{ 'Symbol--Krebs.png' | asset_url }}"></li>
  <li class="symbol" data-width="57"><img src="{{ 'Symbol--Love.png' | asset_url }}"></li>
  <li class="symbol" data-width="62"><img src="{{ 'Symbol--Jomfru.png' | asset_url }}"></li>
  <li class="symbol" data-width="78"><img src="{{ 'Symbol--Vaegt.png' | asset_url }}"></li>
  <li class="symbol" data-width="70"><img src="{{ 'Symbol--Skorpion.png' | asset_url }}"></li>
  <li class="symbol" data-width="70"><img src="{{ 'Symbol--Skytte.png' | asset_url }}"></li>
</ul>

<br/>

<div class="center">
	<button id="button-{{ keyboard }}" style="width: 100px" type="button" class="action_button"><span class="text">OK</span></button>
</div>
